
.profile-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  background-image: url("../../assets/Home/bg.jpg");
  margin-bottom: 30px;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 14px;
  font-family: "Poppins SemiBold";
}
.highlighted-text {
  font-size: 24px;
  color: var(--dark-orange);
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.colz-icon i {
  padding: 8px;
  color: aliceblue;
  height: 100px;
  font-size: medium;
}
.colz-icon i:hover {
  color: blue;
}
.primary-text {
  color: (--white);
}
.hireme {
  height: 30px;
  width: 120px;
  border-radius: 30px;
  color: aliceblue;
  background-image: url("../../assets/Home/bg.jpg");
  margin-right: 20px;
  border-color: aliceblue;
}
.hireme:hover {
  border-color: var(--dark-orange);
}
.resume {
  height: 30px;
  width: 120px;
  border-radius: 30px;
  background-color: var(--dark-orange);
  color: aliceblue;
  border-color: var(--dark-orange);
}
.resume:hover {
  background-color: transparent;
  border-color: aliceblue;
  color: var(--dark-orange);
}
.profile-options {
  margin: 0 0 0 28px;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 var(--white);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0 0 0 100px;
}
.profile-picture-background {
  height: 95%;
  width: 95%;
  background-image: url("../../assets/Home/Tharun\ Sama.jpg");
  background-size: cover;
  border-radius: 50%;
}
.profile-picture-background:hover {
  transform: scale(1.05);
  transition: 1s ease-out;
}

@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0 0 80px;
  }
  .profile-details-name {
    font-size: 18px;
  }
  .profile-details-role .primary-text {
    font-size: 13px;
  }
}

@media screen and (max-width:750px){
    .profile-parent{
        display: flex;
        flex-direction: column-reverse;

    }
    .profile-picture{
        margin: 0 0 40px 0px;
    }
    .profile-options{
      margin-bottom: 30px;
    }
}