.nav-container{
    color: aliceblue;
    background-color:rgba(6, 22, 45,0.6);
    padding: 15px 15%;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: large;
    position: fixed;
    width: 100%;
}
.nav-container a{
    color: aliceblue;
    text-decoration-line: none;
    
}
.nav-items{
    min-width: 400px;
    display: flex;
    justify-content: space-between;
}
.nav-items a{
    text-decoration-line: none;
    color: aliceblue;
    font-weight: 400;
    font-family:'Courier New', Courier, monospace;
}
.nav-items a:hover{
  color: var(--dark-orange);
    
}

@media screen and (max-width:700px) {
    .nav-container{
        padding: 15px;
    }
    .nav-items{
        min-width: 190px;
        font-size: small;
    }
}